/*************************************/

/* COLOR : */

/* */

/* - #ffae00 -> Jaune */

/* - #926d27 -> Terre d'ombre */

/* */

/*************************************/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 10rem;
    font-family: 'Cairo', sans-serif;
}

/**********/

/* HEADER */

/**********/

header {
    /* background: #ffae00;
	*/
    background: linear-gradient(#ffae00, #df9800, #ffae00);
    display: flex;
    justify-content: space-between;
    align-items: first center;
    flex-wrap: wrap;
    padding: 1.5rem;
}

header div span {
    font-family: 'Cairo', sans-serif;
}

header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
    margin: 0 1rem;
    padding: 0;
}

header a:hover, footer a:hover {
    text-shadow: 0 1px 10px #fff;
}

.logo {
    height: 3rem;
    height: 3rem;
}

.panier {
    height: 1.5rem;
    width: auto;
}

.logo:hover, .panier:hover {
    transform: scale(1.1);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    /* background: #ffae00;
	*/
    background: linear-gradient(#ffae00, #df9800, #ffae00);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
}

footer .link {
    display: flex;
    justify-content: space-evenly;
    margin: 0 2rem;
}

h1 {
    font-weight: bold;
}

h2, h3, h4, p {
    margin: 0.2rem;
}

hr {
    width: 70%;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.350);
    margin: 1.5rem auto;
}

table, th, tr, td {
    border: 1px solid #000;
    text-align: center;
}

th:nth-child(even), td:nth-child(even) {
    background: rgba(0, 0, 0, 0.137);
}

.titre_logo {
    margin: 0;
    padding: 0;
}

.texte {
    font-family: 'Lobster', cursive;
}

.underline {
    text-decoration: underline;
}

.marge {
    padding: 0.6rem 0;
}

.admlink {
    text-decoration: none;
    text-transform: uppercase;
    background: #e29b00;
    color: #fff;
    font-size: 1.1rem;
    margin: 0 0.5rem;
    padding: 0.3rem;
}

.admlink:hover {
    filter: brightness(1.1);
}

/***************/

/* SEARCH BAR */

/***************/

.search_bar {
    border: 1px solid rgba(255, 255, 255, 0.493);
    border-radius: 0.7rem;
    padding: 0.7rem;
}

.search_bar input {
    height: 2.5rem;
    font-size: 1.2rem;
    padding-left: 0.5rem;
}

.search_bar input[type="search"] {
    width: 20rem;
    font-family: 'Cairo', sans-serif;
}

.search_bar input[type="submit"] {
    height: 2.5rem;
    font-family: 'Cairo', sans-serif;
    cursor: pointer;
}

/************************/

/* ALERT et BUTTON FORM */

/************************/

.alert_off {
    color: red;
}

.alert_on {
    color: green;
}

.btn_off {
    background: #ad1313a1;
    color: #fff;
}

.btn_on {
    background: rgba(25, 156, 25, 0.63);
    color: #fff;
}

.form_btn {
    padding: 0.2rem;
    cursor: pointer;
}

/***************************/

/* CONNEXION _ INSCRIPTION */

/***************************/

.connexion, .inscription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.connexion form, .inscription form {
    /* background: #14549c56;
	*/
    text-align: center;
    border: 10px solid #4e576156;
    border-radius: 0.2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.158);
    padding: 1rem;
}

.inscription .type {
    text-align: left;
    margin-bottom: 1rem;
}

.connexion .input, .inscription .input {
    margin: 0.6rem;
    font-size: 1.2rem;
    width: 15rem;
}

/*************/

/* MAIN PAGE */

/*************/

.welcome span {
    color: rgb(148, 34, 34);
    font-size: 1.3rem;
}

.welcome .nom {
    text-transform: uppercase;
    margin-right: 1rem;
}

.welcome .prenom {
    text-transform: capitalize;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.presentation img {
    margin: 0.01rem;
    width: 16rem;
    height: auto;
}

.resultats {
    display: flex;
    flex-wrap: wrap;
}

.no_results {
    width: 100%;
    text-align: center;
    background: #ffae00;
    font-size: 1.1rem;
}

/**********/

/* COMPTE */

/**********/

.type_compte {
    color: rgb(148, 34, 34);
    font-weight: bold;
    font-size: 1.5rem;
}

.form {
    margin: 0.5rem;
    background: rgba(0, 0, 0, 0.082);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.form form {
    text-align: center;
    border: 1px solid #000;
    padding: 1rem;
}

.form .input {
    margin: 0.6rem;
    font-size: 1.2rem;
    width: 15rem;
}

/**********************/

/* FORMULAIRE VENDEUR */

/**********************/

.form_vendeur {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formV {
    flex-direction: row;
}

.formV_1 {
    border: 1px solid #000;
}

.formV_2 {
    border: 1px solid #000;
}

/*************************/

/* PRESENTATION PRODUITS */

/*************************/

.produits {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
	*/
    align-items: stretch;
    /* flex-wrap: wrap;
	*/
    /* text-align: center;
	*/
}

.produits div {
    padding: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.308);
    border-radius: 0.2rem;
    width: 20rem;
    margin: 1rem;
}

.p_img {
    width: 5rem;
    height: auto;
}

.p_head {
    background: #ffae00;
}

.p_type {
    font-weight: bold;
}

.p_interp {
    font-weight: bold;
}

.p_prix span {
    font-weight: bold;
}

.p_click {
    background: #ffae00;
    border-radius: 0.5rem;
    height: 1.3rem;
    width: 1.3rem;
    float: right;
    padding: 0.2rem;
    cursor: pointer;
}

.p_click:hover {
    filter: brightness(1.1);
}

.p_descr {
    transition: 0.5s;
}

/***********/

/* PANIER */

/***********/

.vider {
    padding: 0.1rem 0.8rem;
    background: #fff;
    font-weight: bold;
    color: red;
    border-radius: 0.5rem;
    cursor: pointer;
}

.vider:hover {
    transition-duration: 0.5s;
    background: red;
    color: #fff;
}

.prod_panier {
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.prod_panier div {
    padding: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.308);
    border-radius: 0.2rem;
    width: 10rem;
    margin: 1rem;
}

.commande form {
    padding: 0.5rem 0;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.05);
    width: 22rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.208);
}

.commande form input {
    width: 20rem;
}

.commande form input[type='submit'] {
    margin: 0.5rem;
    width: 20rem;
    border-radius: 0.2rem;
    border: none;
    text-transform: uppercase;
}

.commande .commander {
    font-weight: bold;
    color: #fff;
    box-shadow: 0 0 0.2rem #fff;
    background: #ffae00;
}

.commande .commander:hover {
    transition: 0.4s;
    scale: 1.01;
}

/************/

/* ADMIN */

/************/

.admin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titre_tab {
    background: #ffae00;
    color: #fff;
}